.Popcorn-text{
    background: transparent;
    background: rgba(200,250,255, 0.80);
    border-radius: 5px;
    margin-top: 15em;
    display: inline-block;
    padding: 2em;
}

.Popcorn{
    background-image: url("https://previews.123rf.com/images/laboko/laboko1710/laboko171000303/88002218-a-large-square-box-of-popcorn-and-a-lot-of-popcorn-around-background-close-up-.jpg");
    height: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}